/*-- scss:defaults --*/
$code-annotation-higlight-color: red;
$code-annotation-higlight-bg: #333333;

a.code-annotation-anchor {
    background-color: orangered !important;
    color: black !important;
    font-size: 10px !important;
    font-weight: bold;
}