/* css styles */
h1.title {
    font-weight: bold;
    font-size: 40px;
}

h2{
    font-weight: normal;
    color: #1a1919
}
h3 {
    font-weight: normal;
    color: #1a1919
}
h4 {
    font-weight: normal;
    color: #1a1919

}

/*für alle callout-boxen mit style: default*/
.callout.callout-style-default .callout-body {
    font-size: 1rem;
    font-weight: 400;
}

.callout.callout-style-default.callout-header {
    font-weight: 550;
    font-size: 1rem;
}

/*für alle callout-boxen mit style: simple. Eingesetzt zur Anzeige von wichtigen Links*/
.callout.callout-style-simple>div.callout-header {
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.1em 0.1em;
}

.callout.callout-style-simple .callout-body {
    font-size: 1rem;
    font-weight: 400;
}

td {
   border: 1px solid rgb(143, 140, 140);
 
   text-align: left;
  

}

th {
    border: 1px solid rgb(143, 140, 140);
    
    text-align: left;
    background-color: #dad7f06c;
    color: black;
  }

.tdColoredCell {
    background-color: #dad7f06c;
    text-align: left;
    font-weight: bold;
}